/*reset*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos generales*/

footer form{
  text-align: center;
  background-color: rgb(163, 61, 92);
  margin: 50px;
  padding: 0px;
}

body{
    background-color: rgb(245, 220, 245);
}

header{
    padding:10px;
    text-align: center;
}

h1{
    color: rgb(235, 59, 118);
    font-size: 300%;
}

h2{
  color: purple;
  text-align: left;
  margin: 10px;
  padding: 10px;
}

.menu {
  flex-direction: row;    
  background-color: rgb(182, 177, 187);
  position: sticky;
  margin-top: 5px;
  list-style: none;
  top: 5px;
}


.contenedor {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }


.imagen-1{
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    width: 50px; /* Tamaño de la imagen */
    margin-left: 50px; /* Espacio entre las imágenes */
}

.imagen-2{
    margin-right: 10px; /* Espacio entre la imagen y el título */
    display: flex;
    flex-direction: column-reverse;
    position: sticky;
    top: 0;
    right: 0;
    width: 100px; 
}

h4{
    text-align: center;
}

.contenedor-3{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap:20px;
}

.hijo{
    text-align: center;
    background-color: rgb(163, 61, 92);
    margin: 50px;
    padding: 0px;
}
footer h1{
    text-align: center;
}


/*estilos del index*/

.inicio{
    color: black;
    text-align: center;
}

.contenedor-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }
  
  .imagen-3 {
    max-width: 100%;
    max-height: 100%;
  }

  .imagenes-inicio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    /*alinear el contenido*/
    justify-items: center;
    align-items: center;
  }

  .imagen-4{
    width: 300px;
    margin: 10px;
    display: block;
    margin: auto;
  }

  .imagen-5{
    width: 200px;
    margin: 10px;
    border-bottom-left-radius: 10px rgb(245, 86, 75);
  }

  /*estilos de productos*/

  .imagen-6{
    width: 250px;
    margin: 30px;
  }

  .imagenes-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  
    /*alinear el contenido*/
    justify-items: center;
    align-items: center;
   }

  /*estilos de new in*/

  .imagenes-new-in{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  
    /*alinear el contenido*/
    justify-items: center;
    align-items: center;
  }

  .imagen-7{
    width: 250px;
    margin: 30px;
  }
  

  /*estilos de liquidacion*/

  .imagenes-liquidacion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  
    /*alinear el contenido*/
    justify-items: center;
    align-items: center;
  }

  .imagen-8{
    width: 250px;
    margin: 30px;
  }
  
  /*estilos de contacto*/
  
  .contacto{
    text-align: left;
    margin: 5px;
    padding: 5px;
  }

  /*media queries para mobile */
  /* Lo aplique para todos los html menos el de contacto */

  @media (max-width:767px){
    .imagenes-inicio{
      display: grid;
      grid-template-columns: 1fr;
      max-width: 100%;
      height: auto;
    
      /*alinear el contenido*/
      justify-items: center;
      align-items: center;
    }

    .imagenes-productos{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    
      /*alinear el contenido*/
      justify-items: center;
      align-items: center;
     }
  

     .imagenes-new-in{
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      /*alinear el contenido*/
      justify-items: center;
      align-items: center;
    }
  
    .imagenes-liquidacion{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    
      /*alinear el contenido*/
      justify-items: center;
      align-items: center;
    }
  }